.button {
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1;
  padding: .5rem 1rem;
  background: var(--color-primary);
  color: var(--color-light);
  font-size: 1rem;

  &:hover, &:focus {
    opacity: .8;
  }
}
