.table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  border: 1px solid var(--color-medium);
  color: var(--color-dark);
  th,
  td {
    text-align: left;
    padding: 0.75rem;
    border: 1px solid var(--color-medium);
  }
}
